.dot{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  float: right;
}
.dot-won {
  background-color: green;
}
.dot-lost {
  background-color: red;
}
.dot-open {
  background-color: blue;
}
#detail > .card{
  display: none;
}
