@content
<div class="col-md-12">
    <div class="row justify-content-center">
        <div class="col-md-8">
          <main>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">CLASSIFICA JUNIORES BRESCIA <small>Gir. D</small></th>
                  <th scope="col">ULTIMI RISULTATI</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><iframe src='https://www.tuttocampo.it/Widget/Classifica/2303b3a1-aefd-4099-b35f-4a42c08c4817' width='500' height='600' scrolling='no' frameborder='0'></iframe></td>
                  <td><iframe src='https://www.tuttocampo.it/Widget/Risultati/2303b3a1-aefd-4099-b35f-4a42c08c4817' width='500' height='600' scrolling='no' frameborder='0'></iframe></td>
                </tr>
              </tbody>
            </table>
          </main>
        </div>
        <div class="col-md-4">
          <main>
            <div class="container" id="topWin">
              <div id="vincita1">
                <div>Top Vincite Settimanali</div>
                <center>
                  @for($i = 0; $i < count($weekWin); $i++)
                  <div class="rank">
            				<div class="img"></div>
            				<div class="nome">{{ array_keys($weekWin[$i])[0] }}</div>
            				<div class="coin">{{ $weekWin[$i][array_keys($weekWin[$i])[0]] }}<i class="icon icon-exacoin"></i></div>
            			</div>
                  @endfor
              </div>
              <div id="vincita2">
                <div>Top Vincite Mensili</div>
                  <center>
                    @for($i = 0; $i < count($mouthWin); $i++)
                    <div class="rank">
              				<div class="img"></div>
              				<div class="nome">{{ array_keys($mouthWin[$i])[0] !!}</div>
              				<div class="coin">{{ $mouthWin[$i][array_keys($mouthWin[$i])[0]] }}}<i class="icon icon-exacoin"></i></div>
              			</div>
                    @endfor
                </center>
              </div>
            </div>
          </main>
        </div>
    </div>
</div>
@endcontent

@js
<script src="js/_topVincite.js"></script>
@endjs

@css
<link href="css/_topVincite.css" rel="stylesheet">
@endcss
