@content
<div class="row">
	<div class="col-8">
	
	</div>
	<a class="col-4 chi" href="chi-sono">
		<div class="card">
			<div class="card-body">
				<center style="background: radial-gradient(#cffdb5 57%, #00000000 74%);">
					<img class="rounded w-50" src="immagini/chi-sono.png"/>
				</center>
			</div>
			<div class="card-header border-top">
				<span class="col-12">Scopri chi sono</span>
				<i class="fas fa-arrow-circle-right"></i>
			</div>
		</div>
	</a>
</div>
@endcontent

@css
<style>
.chi,
.chi:hover{
	text-decoration: none;
	color: black;
}
.chi > .card{
	transition: 0.5s ease;
	background-color: #19f519;
    box-shadow: 1px 1px 6px black;
	border-color: #057b09;
}
.chi .card-header{
	border-color: #057b09 !important;
}
.chi:hover > .card{
    box-shadow: 3px 3px 21px 1px black;
	transition: 0.5s ease;
}
.chi span{
	padding-left: 0;
	transition: 0.5s ease;
}
.chi i{
	display:none;
	transition: 0.5s ease;
}
.chi:hover span{
	padding-left: 10%;
	transition: 0.5s ease;
	color: white;
	font-weight:bold;
}
.chi:hover i{
	display: inline-block;
	transition: 0.5s ease;
	color: white;
}
</style>
@endcss

@js
@endjs